{% extends 'base/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Título Principal -->
    
        <h1 class="display-4 text-center mb-4 font-weight-bold">Bem-vindo à Plataforma </h1>
    </div>

    <!-- Introdução -->
    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-white p-4 rounded shadow-sm">
                <p class="lead text-justify">
                    Bem-vindo 
                </p>
            </div>
        </div>
    </div>

    <!-- Objetivo da Plataforma -->
    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-white p-4 rounded shadow-sm">
                <h3 class="text-primary mb-3">Objetivo da Plataforma</h3>
                <p class="text-justify">
                    Controlar e monitorar os testes realizados nas fazendas que utilizam os produtos e soluções Bayer. A plataforma oferece um sistema robusto que permite a coleta, análise e validação dos resultados dos testes, assegurando que os procedimentos sejam seguidos de acordo com as diretrizes estabelecidas, garantindo a qualidade e eficiência em todas as etapas.
                </p>
            </div>
        </div>
    </div>

    
  


</div>
{% endblock %}
