{% extends 'base/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Título Principal -->
    
        <h1 class="display-4 text-center mb-4 font-weight-bold">Bem-vindo à Plataforma GS Auditor</h1>
    </div>

    <!-- Introdução -->
    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-white p-4 rounded shadow-sm">
                <p class="lead text-justify">
                    Bem-vindo à Gs Auditor, uma plataforma inovadora desenvolvida para transformar a maneira como os testes nas fazendas são controlados, monitorados e auditados. Criada com o objetivo de otimizar e garantir a precisão e a confiabilidade dos testes realizados nas fazendas, a Gs Auditor oferece aos usuários uma visão clara e em tempo real dos processos de auditoria.
                </p>
            </div>
        </div>
    </div>

    <!-- Objetivo da Plataforma -->
    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-white p-4 rounded shadow-sm">
                <h3 class="text-primary mb-3">Objetivo da Plataforma</h3>
                <p class="text-justify">
                    A Gs Auditor foi projetada para auditar, controlar e monitorar os testes realizados nas fazendas que utilizam os produtos e soluções Bayer. A plataforma oferece um sistema robusto que permite a coleta, análise e validação dos resultados dos testes, assegurando que os procedimentos sejam seguidos de acordo com as diretrizes estabelecidas, garantindo a qualidade e eficiência em todas as etapas.
                </p>
            </div>
        </div>
    </div>

    <!-- Funcionalidades Principais -->
    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-white p-4 rounded shadow-sm">
                <h3 class="text-primary mb-3">Principais Funcionalidades</h3>
                <ul class="list-unstyled">
                    <li><i class="bi bi-check-circle-fill text-success"></i> <strong>Auditoria em Tempo Real:</strong> Monitoramento contínuo e preciso dos testes à medida que são realizados.</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> <strong>Controle de Resultados:</strong> Resultados dos testes registrados e analisados para uma visão detalhada das soluções aplicadas.</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> <strong>Relatórios Personalizados:</strong> Relatórios detalhados para ajudar na tomada de decisões com base nos resultados dos testes.</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> <strong>Segurança e Confiabilidade:</strong> Acesso restrito aos dados através de login seguro, garantindo a integridade das informações.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Benefícios -->
    <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-white p-4 rounded shadow-sm">
                <h3 class="text-primary mb-3">Benefícios</h3>
                <ul class="list-unstyled">
                    <li><i class="bi bi-check-circle-fill text-success"></i> <strong>Maior Precisão:</strong> Testes realizados conforme as melhores práticas, minimizando erros e aumentando a precisão.</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> <strong>Eficiência no Monitoramento:</strong> A automação reduz o tempo gasto com tarefas manuais, permitindo auditorias mais rápidas.</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> <strong>Facilidade de Acesso:</strong> Interface intuitiva que facilita o acesso às informações tanto no escritório quanto no campo.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Último Parágrafo com Fundo Branco -->
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-white p-4 rounded shadow-sm">
                <p class="lead mb-4">
                    A Gs Auditor é a solução ideal para garantir que os testes realizados nas fazendas atendam aos mais altos padrões de qualidade, eficiência e segurança. Ela facilita o controle e promove a excelência nas operações agrícolas.
                </p>
                <p class="lead mb-4">
                    Junte-se a nós para transformar a auditoria de testes agrícolas e impulsionar a qualidade e inovação nos processos das fazendas Bayer!
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
